.alert {
    width: 50%;
    margin: auto;
    text-align: center;
    color: black;
    font-weight: bold;
}

.alert.alert-success {
    background-color: rgb(126, 248, 126);
}

footer {
    color: white;
}